<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update</title>

</head>
<body>
<div>
  <h1>Update</h1>
  <br/>
  <form action="#" th:action="@{/new}" th:object="${refugees}" method="post">
    <table cellpadding="10">
      <tr>
        <td>ID</td>
        <td><input type="text" th:field="*{id}" readonly="readonly"/></td>
      </tr>
      <tr>
        <td>Name</td>
        <td><input type="text" th:field="*{name}"/></td>
      </tr>
      <tr>
        <td>Age</td>
        <td><input type="text" th:field="*{age}"/></td>
      </tr>
      <tr>
        <td>City</td>
        <td><input type="text" th:field="*{city}"/></td>
      </tr>
      <tr>
        <td><button type="submit">Save</button></td>
      </tr>
    </table>
  </form>
</div>
</body>
</html>